# Gradle
.gradle/
build/

# Local config
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Keystore (cực kỳ quan trọng)
*.jks
*.keystore

# Google Services (nếu có key thật)
google-services.json